.contact {
    height: 100vh;
    background:
            radial-gradient(circle at 100% 0%, #53038d 0%, transparent 60%),
            radial-gradient(circle at 60% 60%, #1f0135 0%, transparent 60%),
            radial-gradient(circle at 0% 100%, #5a1e85 0%, transparent 70%),
            #0d0015;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contactHeaderAndHrElementWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95%;
}

.contactHeaderAndHrElementWrapper hr {
    width: 100%;
}

.ContactAndSomeText {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.ContactAndSomeText .center {
    text-align: center;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.sendMeAMessage {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;   
    padding: 30px;
    /* background: radial-gradient(circle at 0% 0%, #3c0166 0%, transparent 60%),
        radial-gradient(circle at 60% 60%, #290245 0%, transparent 60%),
        radial-gradient(circle at 50% 50%, #3a075f 0%, transparent 70%),
        #1a002a; */
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-radius: 10px;
}

.boxInContact {
    background-color: black;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.557);
}

.emailBox a {
    text-decoration: none;
    color: yellowgreen;
}

.emailBox a:hover {
    text-decoration: underline;
}

.inputsForNameAndEmail {
    width: 100%;
}

.inputsForNameAndEmail input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.772);
}

.yourName {
    width: 20%;
}

.yourEmail {
    width: 79%;
}

.yourMessage {
    width: 80%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.772);
}

.sendMessage {
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.inputForMessageAndButtonSendMessage {
    width: 100%;
    display: flex;
    justify-content: space-around;
}