/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.readMoreBtn {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.btn::before {
    content: "🟠";
    position: absolute;
    font-size: 0;
    border-radius: 50%;
    top: var(--ypos);
    left: var(--xpos);
    transform: translate(-50%, -50%);
    transition: font-size .9s;
}

.btn:hover::before {
    font-size: 300px;
}

.btn span {
    position: relative;
    z-index: 1;
}

.readMoreBtnInskillsSlide {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}   

/* Navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    background-color: black;
    color: black;
    border-bottom: 1px solid gray;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.788);
}

.navBar h1 {
    font-weight: 100;
    font-size: 18px;
}

.navBar .fa-bars {
    display: none;
}

.ulList {
    display: flex;
    gap: 40px;
}

.ulList li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.ulList li span {
    position: relative;
    z-index: 1;
    color: black;
}

.ulList li::before {
    content: "🟠";
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size 1s;
}

.ulList li:hover::before {
    font-size: 200px;
    background-color: gray;
}

/* Slides */
.slidesWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.7s ease;
    padding: 0 10px;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

.slide.prev {
    transform: translateX(-100%);
}

.slide.next {
    transform: translateX(100%);
}

.aboutMeContainerSlide {
   
}

.video {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
}

.skillsContainerSlide {
    
}

.aboutMeHighlightWrapper {
    width: 300px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.788);
    padding: 20px;
    border-radius: 10px;
}

.aboutMeHighlightWrapper h1 {
    font-family: cursive;
    margin-bottom: 10px;
}

.aboutMeHighlightWrapper h3 {
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 100;
}

.myPicture {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.788);
}

.aboutMainContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    background-color: rgb(218, 238, 255);
}

.aboutMainContainer h1 {
    text-align: start;
}

.aboutMainContainer p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.aboutMainContainer video {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 1200px) {
    .aboutMeHighlightWrapper {
        width: 250px;
    }

    .aboutMeHighlightWrapper h1 {
        font-size: 22px;
    }

    .aboutMeHighlightWrapper h3 {
        font-size: 16px;
    }

    .myPicture,
    .aboutMainContainer img {
        max-width: 350px;
    }
}

@media (max-width: 1024px) {
    .navBar {
        height: 80px;
    }

    .aboutMeHighlightWrapper {
        width: 220px;
    }

    .aboutMeHighlightWrapper h1 {
        font-size: 20px;
    }

    .aboutMeHighlightWrapper h3 {
        font-size: 15px;
    }

    .myPicture,
    .aboutMainContainer img {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .navBar h1 {
        font-size: 14px;
    }

    .btn {
        padding: 20px;
    }

    .navBar {
        height: 80px;
    }

    .ulList {
        display: none;
    }

    .navBar .fa-bars {
        display: block;
    }

    .aboutMeContainerSlide,
    .skillsContainerSlide {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .aboutMeHighlightWrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .aboutMeHighlightWrapper h3{
        text-align: center;
    }

    .aboutMeHighlightWrapper h1 {
        font-size: 25px;
        text-align: center;
    }

    .aboutMeHighlightWrapper h3 {
        font-size: 20px;
    }

    .myPicture,
    .aboutMainContainer img {
        max-width: 250px;
    }
     
}