/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.612);
}

.viewMyWorkButton {
    background-color: black;
    color: white;
}

.contactMeButton {
    background-color: black;
    color: white;
}

.heroSection {
    background:
            radial-gradient(circle at 100% 100%, #2d0170 0%, transparent 60%),
            radial-gradient(circle at 0% 100%, #380983 0%, transparent 60%),
            radial-gradient(circle at 0% 0%, #210063 0%, transparent 70%),
            #000000;
    width: 10vw;
}

.someTalking {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.someTalking button {
    width: 150px;
}

.nameOfMine {
    color: rgb(54, 198, 255);
}

.white {
    color: rgba(255, 255, 255, 0.744);
}

.aboutMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 30px;
    background:
            radial-gradient(circle at 100% 0%, #490aa8 0%, transparent 60%),
            radial-gradient(circle at 0% 100%, #380983 0%, transparent 60%),
            radial-gradient(circle at 0% 0%, #080214 0%, transparent 70%),
            #000000;
}

.aboutmeTalking hr {
    width: 50%;
}

.imageSlider {
    height: 300px;
    overflow: hidden;
}

.imagesInAboutMe {
    width: 300px;
    height: 300px;
}

.aboutmeTalking {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}

.get_to_know_me {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.get_to_know_me hr {
    width: 80%;
}

.btn::before {
    content: "⚫";
    position: absolute;
    font-size: 0;
    border-radius: 50%;
    top: var(--ypos);
    left: var(--xpos);
    transform: translate(-50%, -50%);
    transition: font-size .9s;
}

.btn:hover::before {
    font-size: 300px;
}

.btn span {
    position: relative;
    z-index: 1;
}

.readMoreBtnInskillsSlide {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}   

/* Navbar */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    color: white;
    border-bottom: 1px solid gray;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(15px);
}

.navBar.hidden {
    transform: translateY(-100%);
}

.navBar h1 {
    font-weight: 100;
    font-size: 18px;
}

.navBar .fa-bars {
    display: none;
}

.ulList {
    display: flex;
    gap: 40px;
}

.ulList li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.685);
    background-color: black;
}

.ulList li span {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.884);
}

.ulList li::before {
    content: "⚫";
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size .7s;
}

.ulList li:hover::before {
    font-size: 200px;
    background-color: gray;
}

/* Slides */
.slidesWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.7s ease;
    padding: 0 10px;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

.slide.prev {
    transform: translateX(-100%);
}

.slide.next {
    transform: translateX(100%);
}

.heroSection {
   
}

.video {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
}

.skillsContainerSlide {
    
}

.myPicture {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.788);
}

@media (max-width: 1200px) {
    .aboutMeHighlightWrapper {
        width: 250px;
    }

    .aboutMeHighlightWrapper h1 {
        font-size: 22px;
    }

    .aboutMeHighlightWrapper h3 {
        font-size: 16px;
    }

    .myPicture,
    .aboutMainContainer img {
        max-width: 350px;
    }
}

@media (max-width: 1024px) {
    .navBar {
        height: 80px;
    }
}

@media (max-width: 768px) {
    .navBar h1 {
        font-size: 14px;
    }

    .btn {
        padding: 20px;
    }

    .navBar {
        height: 80px;
    }

    .ulList {
        display: none;
    }

    .navBar .fa-bars {
        display: block;
    }
     
}